# Python 
__pycache__/
*.pyc

# virtual enviroment
venv/

# flask env variables
.env
.flaskenv

# databases
*.db
*.sqlite3

# flask instance folder
instance/

# IDE & OS Specific Files
.vscode/
.idea/